@import "src/colours";

.ExperienceWidget {
    background: white;
    margin: 0 5%;
    min-width: 500px;
    padding-bottom: 3%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $GRAY;

    .WidgetHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        width: 100%;

        .WidgetTitle {
            display: flex;
            display: inline-block;
            color: black;
            font-family: $SECONDARY_FONT;
            font-size: 1.2em;
            margin: 0;
            font-weight: 700;
        }

        .WidgetDate {
            @extend .WidgetTitle;
            font-size: 1.0em;
            font-weight: 100;
            color: $DARK_GRAY;
        }
    }

    .WidgetTextContainer {
        max-width: 70vw;

        .WidgetDescription{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0;
            padding-left: 5px;
            padding-bottom: 8px;

            p {
                font-weight: 500;
                font-family: $SECONDARY_FONT;
                margin: 0;
                margin-left: 10px;
            }

        }

        .WidgetImageContainer {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 10px;
            padding-top: 5px;

            .WidgetImage {
                height: 80px;
            }
        }
    }

}