@import "src/colours";

#AboutIconsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 4vh;
    width: 100%;

    svg.Icons {
        &:hover
            path {
                fill: $MAIN;
            }
        }
      
}