@import url(https://fonts.google.com/specimen/Roboto?selection.family=Roboto);@import url(https://fonts.google.com/specimen/Roboto+Condensed?selection.family=Roboto+Condensed);body{margin:0;padding:0;font-family:sans-serif}#LandingHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  color: #000080;
  position: fixed;
  top: 0;
  height: 8vh;
  width: 100%;
  box-shadow: 0px 3px 7px -4px rgba(0, 0, 0, 0.75);
  padding-right: 100px;
  z-index: 5; }
  #LandingHeader #LandingHeaderInner {
    height: 100%;
    weight: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    -webkit-animation: fadein 0.3;
    -moz-animation: fadein 0.3;
    -o-animation: fadein 0.3;
    -ms-transition: fadein 0.3;
    animation: fadein 0.3; }
    #LandingHeader #LandingHeaderInner .SectionHeading {
      padding: 10px 20px;
      margin: 0 5px;
      background-color: white;
      cursor: pointer;
      -webkit-animation: offHover 0.3s;
      -moz-animation: offHover 0.3s;
      -o-animation: offHover 0.3s;
      -ms-transition: offHover 0.3s;
      animation: offHover 0.3s; }
      #LandingHeader #LandingHeaderInner .SectionHeading:hover {
        background-color: #f5f5f5;
        border-radius: 4px;
        -webkit-animation: onHover 0.3s;
        -moz-animation: onHover 0.3s;
        -o-animation: onHover 0.3s;
        -ms-transition: onHover 0.3s;
        animation: onHover 0.3s;
        animation: onHover 0.3s; }
      #LandingHeader #LandingHeaderInner .SectionHeading:active {
        background-color: #dcdcdc; }
      #LandingHeader #LandingHeaderInner .SectionHeading p {
        color: #7f7fbf;
        margin: 0;
        font-size: 0.7em;
        letter-spacing: 2px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        user-select: none; }
        #LandingHeader #LandingHeaderInner .SectionHeading p:hover {
          color: #2f4f4f; }
        #LandingHeader #LandingHeaderInner .SectionHeading p:active {
          color: black; }
    #LandingHeader #LandingHeaderInner .Selected p {
      color: #2f4f4f; }

@keyframes fadein {
  from {
    opacity: 0%; }
  to {
    opacity: 100%; } }

@keyframes onHover {
  from {
    background-color: white; }
  to {
    background-color: #f5f5f5; } }

@keyframes offHover {
  from {
    background-color: #f5f5f5; }
  to {
    background-color: white; } }
.Project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  height: 45vh;
  width: 35vh;
  background-color: #282c34;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; }
  .Project:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.32); }
  .Project p {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 0.8em;
    letter-spacing: 2px;
    margin: 0; }
  .Project .ProjectImage {
    background-color: white;
    background-size: cover;
    border-radius: 5px;
    width: 100%;
    height: 85%;
    margin-bottom: 8px; }
  .Project .netflixextension {
    background-image: url(/static/media/FlixFinder.f56d8e1c.png); }
  .Project .ClarityHierarchy {
    background-image: url(/static/media/ClarityHierarchy.873c3b8a.png); }
  .Project .sti-imaging {
    background-image: url(/static/media/STI-Imaging.4176dd41.png);
    background-position: right -11px top; }
#LandingContainer {
  display: flex;
  flex-direction: column;
  background-color: black; }
  #LandingContainer h1 {
    margin: 0; }
  #LandingContainer .TopicSection, #LandingContainer .SplashLanding, #LandingContainer .AboutSection, #LandingContainer .ProjectsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    color: white;
    background-color: #23395b;
    height: 92vh; }
    #LandingContainer .TopicSection h2, #LandingContainer .SplashLanding h2, #LandingContainer .AboutSection h2, #LandingContainer .ProjectsSection h2 {
      color: white;
      margin: 20px;
      letter-spacing: 3px;
      font-size: 2em;
      user-select: none; }
  #LandingContainer .SplashLanding {
    margin-top: 8vh;
    justify-content: flex-start;
    align-items: flex-start;
    background-attachment: fixed;
    background-image: url(/static/media/SplashImage.3478a44f.jpg);
    background-size: cover;
    background-color: black;
    color: black;
    height: 55vh;
    box-shadow: 0px 3px 7px -4px rgba(0, 0, 0, 0.75);
    opacity: 0.8;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -o-animation: fadein 2s;
    -ms-transition: fadein 2s;
    animation: fadein 2s; }
  #LandingContainer .LandingSeperation, #LandingContainer .FooterSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 10px;
    background-color: white;
    height: 35vh;
    border-top-style: solid;
    border-color: black;
    border-width: 1px;
    box-shadow: 0px 3px 7px -4px rgba(0, 0, 0, 0.75); }
    #LandingContainer .LandingSeperation h2, #LandingContainer .FooterSection h2 {
      color: #a9a9a9;
      margin: 20px;
      letter-spacing: 3px;
      font-size: 2em;
      user-select: none; }
    #LandingContainer .LandingSeperation p, #LandingContainer .FooterSection p {
      margin: 10px; }
    #LandingContainer .LandingSeperation .ImageHolder, #LandingContainer .FooterSection .ImageHolder {
      padding: 13%;
      background-color: black;
      border-style: solid;
      border-color: black;
      border-width: 1px;
      border-radius: 50%;
      background-image: url(/static/media/mackenzie.8c49eed2.png);
      background-size: cover;
      position: absolute;
      right: 10%;
      bottom: 3%;
      -webkit-animation: colourChange 1s;
      -moz-animation: colourChange 1s;
      -o-animation: colourChange 1s;
      -ms-transition: colourChange 1s;
      animation: colourChange 1s; }
    #LandingContainer .LandingSeperation .Slider h2, #LandingContainer .FooterSection .Slider h2 {
      color: black;
      margin: 10px;
      -webkit-animation: fadein 1s;
      -moz-animation: fadein 1s;
      -o-animation: fadein 1s;
      -ms-transition: fadein 1s;
      animation: fadein 1s; }
    #LandingContainer .LandingSeperation .Slider p, #LandingContainer .FooterSection .Slider p {
      width: 100%;
      overflow: hidden;
      -webkit-animation: slide-left 3s, fadein 5s;
      -moz-animation: slide-left 3s, fadein 5s;
      -o-animation: slide-left 3s, fadein 5s;
      -ms-transition: slide-left 3s, fadein 5s;
      animation: slide-left 3s, fadein 5s; }
  #LandingContainer .AboutSection {
    height: 65vh;
    background-image: url(/static/media/AboutImage.511b0636.jpg);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
  #LandingContainer .ProjectsSection {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-image: url(/static/media/ProjectsImage.584140dd.jpg);
    background-size: cover; }
    #LandingContainer .ProjectsSection .ProjectContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 100%; }
  #LandingContainer .FooterSection {
    height: 20vh;
    background-color: #282c34; }

@keyframes slide-left {
  from {
    margin-left: 20%; }
  to {
    margin-left: 10px; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 0.8; } }

@keyframes colourChange {
  from {
    background-color: white; }
  to {
    background-color: black; } }
.App{text-align:center;background-color:#000}.App-logo{-webkit-animation:App-logo-spin infinite 20s linear;animation:App-logo-spin infinite 20s linear;height:80px}.App-header{background-color:#000;height:150px;padding:20px;color:#fff}.App-intro{font-size:large}@-webkit-keyframes App-logo-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@keyframes App-logo-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}
/*# sourceMappingURL=main.0fe78aa7.css.map*/