@import url(https://fonts.google.com/specimen/Roboto+Condensed?selection.family=Playfair+Display);@import url(https://fonts.googleapis.com/css?family=Inconsolata);@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans);@import url(https://fonts.googleapis.com/css?family=Railway);@import url(https://fonts.googleapis.com/css?family=Roboto);@import url(https://fonts.googleapis.com/css?family=Montserrat);@import url(https://fonts.googleapis.com/css?family=Major+Mono+Display);body{margin:0;padding:0;font-family:sans-serif}.SplashLanding {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background: black;
  width: 50vw;
  height: 100vh;
  animation: fade-in 1.5s; }
  .SplashLanding #SplashInnerContainer {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat';
    background-image: url(/static/media/camera-black.ac5eb8c1.jpg);
    background-size: cover;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .SplashLanding #SplashInnerContainer #SplashTextContainer {
      margin-top: 15vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      .SplashLanding #SplashInnerContainer #SplashTextContainer .NameTitleText {
        margin: 0;
        color: white;
        font-weight: 800;
        font-size: 3.5em; }
      .SplashLanding #SplashInnerContainer #SplashTextContainer .SubTitleText {
        margin-left: 3px;
        margin-top: 10px;
        font-weight: 100;
        font-size: 1em;
        color: white; }

@keyframes MoveUpDown {
  0%, 100% {
    margin-top: 20vh; }
  50% {
    margin-top: 18vh; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
#AboutIconsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 4vh;
  width: 100%; }
  #AboutIconsContainer svg.Icons:hover path {
    fill: #3C1CFE; }
#InterestContainer .AboutBullet {
  display: inline-block;
  width: 50%;
  margin: 0; }
  #InterestContainer .AboutBullet p {
    margin: 0; }
.UnderlineText p {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  color: #3C1CFE;
  display: inline-block;
  margin: 0; }
.AboutLanding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
  animation: fade-in 1.5s; }
  .AboutLanding p {
    margin: 0; }
  .AboutLanding #AboutInner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 50vw;
    background-color: white;
    overflow-y: scroll; }
    .AboutLanding #AboutInner #AboutContent {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: flex-start;
      align-content: center;
      padding: 0 30px;
      margin: 5% 20px 0 20px; }
      .AboutLanding #AboutInner #AboutContent #AboutTitle {
        display: flex;
        justify-content: center;
        font-size: 3.5em;
        font-family: "Montserrat";
        font-weight: 700;
        color: black;
        margin: 0; }
      .AboutLanding #AboutInner #AboutContent #AboutImageIcons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        margin: 20px 0 0 0; }
        .AboutLanding #AboutInner #AboutContent #AboutImageIcons #AboutTitle {
          display: flex;
          flex-direction: column;
          font-size: 2.8em;
          color: black;
          font-family: "Montserrat";
          margin: 0 0 30px 0; }
      .AboutLanding #AboutInner #AboutContent #PersonalImageContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; }
        .AboutLanding #AboutInner #AboutContent #PersonalImageContainer #PersonalImage {
          width: 25vw;
          height: auto;
          border-radius: 50%; }
      .AboutLanding #AboutInner #AboutContent #PersonalDescription {
        padding: 0;
        margin: 5% 0; }
        .AboutLanding #AboutInner #AboutContent #PersonalDescription p {
          font-size: 1.1em;
          font-weight: 100;
          margin-bottom: 15px;
          padding: 0;
          font-family: "Railway", sans-serif; }
  @media (max-width: 850px) {
    .AboutLanding #AboutCenterPiece {
      width: 70vw; }
    .AboutLanding #AboutInner {
      display: flex;
      justify-content: center;
      align-items: center; }
      .AboutLanding #AboutInner #AboutContent {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        margin-left: 0;
        width: 80vw; }
        .AboutLanding #AboutInner #AboutContent #PersonalImageContainer {
          display: none; }
        .AboutLanding #AboutInner #AboutContent #PersonalDescription {
          width: 100%;
          padding: 0; }
          .AboutLanding #AboutInner #AboutContent #PersonalDescription #TitleContainer {
            display: flex;
            flex-direction: column; } }

@keyframes fadein {
  from {
    opacity: 0%; }
  to {
    opacity: 100%; } }
.ExperienceContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: white;
  width: 50vw;
  height: 100vh;
  overflow-y: scroll;
  animation: fade-in 1.5s; }
  .ExperienceContainer #ExperienceTitle {
    color: black;
    font-size: 3.5em;
    margin: 5% 0;
    font-family: "Montserrat";
    font-weight: 700; }
  .ExperienceContainer #ExperienceHeaderPhoto {
    width: 100%;
    min-height: 40%;
    background-image: url(/static/media/light-work-background.4f7552b6.jpg);
    background-size: cover; }
  .ExperienceContainer #ExperienceText {
    display: flex;
    padding: 3% 5%;
    font-family: "Railway", sans-serif;
    font-weight: 100;
    font-size: 1.1em; }
  .ExperienceContainer #ExperienceInner {
    background: white;
    width: 100%;
    padding: 0;
    padding-bottom: 5%;
    margin: 0;
    margin-bottom: 10%; }
    .ExperienceContainer #ExperienceInner #WorkContainer {
      display: flex;
      justify-content: flex-start;
      flex-direction: column; }
      .ExperienceContainer #ExperienceInner #WorkContainer #JobContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        padding-right: 10px; }
        .ExperienceContainer #ExperienceInner #WorkContainer #JobContainer p {
          cursor: pointer;
          margin: 0;
          font-family: "Montserrat";
          font-size: 0.8em;
          padding: 10px 20px;
          transition: ease 0.5s; }
          .ExperienceContainer #ExperienceInner #WorkContainer #JobContainer p:hover {
            transition: ease 0.5s;
            background: #e0dddd; }

@keyframes fadein {
  from {
    opacity: 0%; }
  to {
    opacity: 100%; } }
.ExperienceWidget {
  background: white;
  margin: 0 5%;
  padding-top: 3%;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #D5D5D5;
  margin-bottom: 2%; }
  .ExperienceWidget .WidgetHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    width: 100%; }
    .ExperienceWidget .WidgetHeader .CompanyLogo {
      width: 70px;
      height: auto; }
    .ExperienceWidget .WidgetHeader .WidgetJobTitleSection {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; }
      .ExperienceWidget .WidgetHeader .WidgetJobTitleSection .WidgetTitle, .ExperienceWidget .WidgetHeader .WidgetJobTitleSection .WidgetDate {
        display: flex;
        display: inline-block;
        color: black;
        font-family: "Railway", sans-serif;
        font-size: 1.4em;
        margin: 0;
        margin-bottom: 10px; }
      .ExperienceWidget .WidgetHeader .WidgetJobTitleSection .WidgetSubtitle {
        display: flex;
        display: inline-block;
        color: black;
        font-family: "Railway", sans-serif;
        font-size: 1.0em;
        margin: 0;
        margin-bottom: 7px; }
      .ExperienceWidget .WidgetHeader .WidgetJobTitleSection .WidgetDate {
        font-size: 1.0em;
        font-weight: 100;
        color: #555555; }
  .ExperienceWidget .WidgetTextContainer {
    max-width: 70vw; }
    .ExperienceWidget .WidgetTextContainer .WidgetDescription {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0;
      padding-left: 5px;
      padding-bottom: 8px; }
      .ExperienceWidget .WidgetTextContainer .WidgetDescription p {
        font-weight: 100;
        font-size: 0.9em;
        font-family: "Railway", sans-serif;
        margin: 0;
        margin-left: 10px; }
    .ExperienceWidget .WidgetTextContainer .WidgetImageContainer {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 10px;
      padding-top: 5px; }
      .ExperienceWidget .WidgetTextContainer .WidgetImageContainer .WidgetImage {
        height: 80px; }
#SplashHomeContainer {
  background-image: url(/static/media/second-half-camera-black.355046ec.jpg);
  background-size: cover;
  height: 100vh;
  width: 50vw;
  animation: fade-in 1.5s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; }
  #SplashHomeContainer p {
    margin: 0;
    color: white;
    font-weight: 700;
    font-family: "Montserrat";
    font-size: 3.5em; }
  #SplashHomeContainer #SplashHomeSubtext {
    font-weight: 100;
    font-size: 1em;
    margin-top: 10px;
    padding-bottom: 10%; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.ProjectWidget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: 0.5s;
  width: 90%;
  background: white;
  border-style: solid;
  border-color: #D5D5D5;
  border-width: 1px;
  border-radius: 5px;
  margin-bottom: 1%;
  transition: ease 0.3s; }
  .ProjectWidget:hover {
    background: #ececec;
    transform: scale(0.99); }
  .ProjectWidget a {
    color: black;
    text-decoration: none;
    width: 100%; }
  .ProjectWidget .WidgetExpanded {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s;
    width: 100%;
    font-weight: 100; }
    .ProjectWidget .WidgetExpanded .ProjectMain {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 4px 0 0 9px; }
      .ProjectWidget .WidgetExpanded .ProjectMain .ProjectImageContainer {
        width: 270px; }
        .ProjectWidget .WidgetExpanded .ProjectMain .ProjectImageContainer .ProjectImage {
          width: 100%; }
      .ProjectWidget .WidgetExpanded .ProjectMain .ProjectDesc {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        word-wrap: break-word;
        overflow-wrap: break-word; }
        .ProjectWidget .WidgetExpanded .ProjectMain .ProjectDesc .ProjectHeader {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 98%; }
          .ProjectWidget .WidgetExpanded .ProjectMain .ProjectDesc .ProjectHeader a {
            color: black;
            text-decoration: none; }
          .ProjectWidget .WidgetExpanded .ProjectMain .ProjectDesc .ProjectHeader .ProjectName {
            color: black;
            font-family: "Railway", sans-serif;
            font-size: 1.4em;
            font-weight: 100;
            margin: 10px;
            transition: ease 0.5s; }
        .ProjectWidget .WidgetExpanded .ProjectMain .ProjectDesc .ProjectText {
          display: inline-block;
          font-size: 0.9em;
          margin: 0 20px;
          font-family: "Railway", sans-serif; }
        .ProjectWidget .WidgetExpanded .ProjectMain .ProjectDesc .ProjectTech {
          font-size: 1.1em;
          margin: 0 20px;
          margin-top: 10px; }
        .ProjectWidget .WidgetExpanded .ProjectMain .ProjectDesc .WidgetTechContainer {
          padding: 0 20px; }
          .ProjectWidget .WidgetExpanded .ProjectMain .ProjectDesc .WidgetTechContainer .ProjectTechTitle {
            font-size: 1.2em;
            font-weight: 800;
            margin: 0;
            margin-top: 15px; }
          .ProjectWidget .WidgetExpanded .ProjectMain .ProjectDesc .WidgetTechContainer p {
            font-family: "Railway", sans-serif;
            margin: 0;
            margin-left: 10px; }
.ProjectsSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: white;
  width: 50vw;
  height: 100vh;
  overflow-y: scroll;
  animation: fade-in 1.5s; }
  .ProjectsSection #ProjectTitle {
    font-size: 3.5em;
    font-family: "Montserrat";
    font-weight: 700;
    color: black;
    margin: 5% 0; }
  .ProjectsSection #ProjectImageHeader {
    width: 100%;
    min-height: 40%;
    background-image: url(/static/media/projects-header-image.b6c61eaf.jpg);
    background-size: cover; }
  .ProjectsSection #ProjectTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    margin: 5% 0;
    font-size: 1.1em; }
    .ProjectsSection #ProjectTextContainer p {
      display: flex;
      justify-content: center;
      font-family: "Railway", sans-serif;
      font-weight: 100;
      margin: 0; }
  .ProjectsSection #ProjectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    width: 100%; }
    .ProjectsSection #ProjectContainer .WidgetContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      padding-bottom: 50px; }
      .ProjectsSection #ProjectContainer .WidgetContainer .WidgetSectionHeader {
        margin-bottom: 2%;
        margin-top: 2%;
        font-family: "Montserrat";
        font-size: 1.7em;
        font-weight: 300; }
#LandingHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: transparent;
  top: 0;
  height: 7vh;
  min-height: 42px;
  width: 50vw;
  z-index: 5;
  transition: ease 0.2s;
  animation: fade-in 1.5s; }
  #LandingHeader a {
    text-decoration: none; }
  #LandingHeader #LandingResume {
    margin-left: 30px;
    font-size: 0.9em;
    font-family: "Montserrat";
    font-weight: 900;
    padding: 4px 2px 4px 4px;
    transition: ease 0.3s;
    cursor: pointer; }
  #LandingHeader #LandingHeaderInner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    #LandingHeader #LandingHeaderInner .SectionHeading {
      padding: 10px 15px;
      margin: 0 15px; }
      #LandingHeader #LandingHeaderInner .SectionHeading p {
        color: white;
        margin: 0;
        margin-bottom: 3px;
        font-size: 0.8em;
        font-family: "Montserrat";
        letter-spacing: px;
        font-weight: 500;
        position: relative;
        text-decoration: none;
        cursor: pointer;
        -webkit-animation: fadein 5;
        -moz-animation: fadein 5;
        -o-animation: fadein 5;
        -ms-transition: fadein 5;
        animation: fadein 5; }
        #LandingHeader #LandingHeaderInner .SectionHeading p:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: -5px;
          left: 0;
          color: #6249fe;
          background-color: #6249fe;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s; }
    #LandingHeader #LandingHeaderInner .Selected p {
      color: #2f4f4f; }

@keyframes fadein {
  from {
    opacity: 0%; }
  to {
    opacity: 100%; } }
#App {
  background: black; }
  #App #AppContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }

/*# sourceMappingURL=main.1b69bb20.css.map*/