@import "src/colours";

#LandingHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: fixed;
  background: black;
  top: 0;
  height: 7vh;
  min-height: 42px;
  width: 100%;
  padding-right: 100px;
  z-index: 5;
  box-shadow: 1px 1px 10px 1px #797777;
  opacity: 0;
  transition: ease 0.2s;

  a {
    color: white;
    text-decoration: none;
  }

  #MenuIcon {
    width: 20px;
    margin-right: 30px;
    margin-top: 3px;

    .line {
      background: white;
      height: 2px;
      display: block;
      margin-bottom: 3px;
      transition: ease 0.3s;
    }

    &:hover {
      .line {
        background: $LIGHT_MAIN;
      }
    }

    &:active {
      .line {
        background: $LIGHT_MAIN;
      }
    }


  }


  #LandingResume {
    margin-left: 30px;
    font-size: 0.9em;
    font-family: $MAIN_FONT;
    letter-spacing: 2px;
    font-weight: 900;
    border-style: solid;
    border-width: 1px;
    padding: 4px 2px 4px 4px;
    transition: ease 0.3s;
    cursor: pointer;

    &:hover {
      color: $LIGHT_MAIN;
      // background: #141414;
    }

  }

  #LandingHeaderInner {
    height: 100%;
    weight: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;

    .SectionHeading {
      padding: 10px 15px;
      margin: 0 15px;

      p {
        margin: 0;
        margin-bottom: 3px;
        font-size: 0.9em;
        font-family: $MAIN_FONT;
        letter-spacing: 2px;
        font-weight: 900;
        position: relative;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          transition: ease 0.7s;
          color: $LIGHT_MAIN;
          // color: #7660fe;
          // color: #3C1CFE;

          &:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
          }
        }

        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: -5px;
          left: 0;
          color: $LIGHT_MAIN;
          // color: #7660fe;
          background-color: $LIGHT_MAIN;
          // background-color: #3C1CFE;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }

        -webkit-animation: fadein 5;
        -moz-animation: fadein 5;
        -o-animation: fadein 5;
        -ms-transition: fadein 5;
        animation: fadein 5;
      }
    }

    .Selected {
      p {
        color: #2f4f4f;
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
