@import "src/colours";

.ProjectWidget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 50vh;
  background: black;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;

  p {
    color: white;
    margin: 0;
    font-weight: 900;
    font-family: $MAIN_FONT;
    font-size: 1.5em;
  }

  &:hover {
        width: 45vw;
        // box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.32);
      }
}

@keyframes grow {
  100% { width: 40vw; };
}
