@import "src/colours";

.ProjectsSection {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background: black;
  height: 100vh;
  max-width: 100vw;

  #ProjectTitle {
    font-size: 2.8em;
    color: white;
    font-weight: 900;
    font-family: $MAIN_FONT;
    padding: 8vh 0 0 8vh;
    margin: 0;
  }

  #ProjectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    overflow-x: scroll;
    height: 100vh;
    max-width: 100vw;

    #WidgetContainer {
      padding-left: 30%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      overflow-x: scroll;
      white-space: nowrap;
      width: 200vw;
    }
  }
}
