.SplashLanding {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 120vh;

  #SplashCenterPiece {
    background: black;
    width: 40vw;
    height: 85vh;
    border-radius: 1%;
    animation: fade-in 2s;
    padding: 2px 2px 0 2px;
    
    #CenterPieceBorder {
      width: 100%;
      height: 100%;
      background: #191919;
      border-top-left-radius: 1%;
      border-top-right-radius: 1%;

      #WelcomeText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10vh;

        p {
          margin: 0;
          color: white;
          font-size: 3.0em;
          font-family: 'Major Mono Display', monospace;
        }

        .portfolioText {
          // color: #fc2344;
          color: #cb8b5a;
        }

      }
    }
  }

}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
  
}
