@import "src/colours";

.ExperienceContainer {
    background: white;
    padding: 7% 10%;

    #ExperienceTitle {
        color: black;
        font-size: 2.8em;
        margin: 0;
        font-family: $MAIN_FONT;
    }

    #ExperienceInner {
        background: white;
        padding: 5% 0;
        padding-bottom: 0;
        height: 78%;

        #WorkContainer {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            border-left: 1px;
            border-left-style: solid;
            border-left-color: $GRAY;
            height: 100%;


            #JobContainer {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-content: flex-start;
                padding-right: 10px;
                
                p {
                    cursor: pointer;
                    margin: 0;
                    font-family: $MAIN_FONT;
                    // font-family: $SECONDARY_FONT;
                    font-size: 0.8em;
                    padding: 10px 20px;
                    transition: ease 0.5s;

                    &:hover {
                        transition: ease 0.5s;
                        background: #e0dddd
                    }
                }
            }
        }
    }
}