@import "src/colours";

.ExperienceContainer {
    height: 80vh;
    background: black;
    padding: 30px 80px;
    font-family: $MAIN_FONT;

    #ExperienceTitle {
        color: white;
        font-size: 2.8em;
        margin: 0;
    }



}