@import "src/colours";

.ProjectsSection {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background: white;
  padding-top: 7%;
  padding-bottom: 10%;

  #ProjectTitle {
    font-size: 2.8em;
    color: black;
    font-family: $MAIN_FONT;
    padding-left: 10%;
    margin: 0;
    margin-bottom: 5%;
  }

  #ProjectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    width: 100%;

    #WidgetContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      white-space: nowrap;
    }
  }
}
