$LIGHT_BLUE: #c9daea;
$GREEN_BLUE: #00cecb;
$LIGHT_GRAY: rgb(236, 236, 236);
$GRAY: #D5D5D5;
$DARK_GRAY: #555555;
$MAIN: #3C1CFE;
$LIGHT_MAIN: #6249fe;
$DARK_MAIN: #241098;
$BLACK: #1d1d1b;

$MAIN_FONT: 'Montserrat';
$SECONDARY_FONT: 'Railway', sans-serif;
$SECONDARY_FONT_SIZE: 1.1em;
$TITLE_FONT_SIZE: 3.5em;
$TITLE_FONT_WEIGHT: 700;
$SECONDARY_FONT_WEIGHT: 100;
$FADEIN: fade-in 1.5s;
